nav {
  height: 7vh;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0.5rem;
  font-size: 1.5rem;
}

li:hover {
  border-bottom: 2px solid rgb(159, 206, 206);
}
