.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
h3 {
  margin-top: 2rem;
}
p {
  margin-top: 0.5rem;
}
input {
  cursor: pointer;
}

label {
  margin-right: 0.5rem;
}

button {
  background-color: rgb(159, 206, 206);
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: medium;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(104, 126, 126);
}
